node_modules
public/bundle.js
*.log*
*.db
*.db-journal
config/config.dev.json
config/config.work.json
config/config.prod.json*
*.png
!client/assets/*.png
.foreverignore
forever.sh

# ignore temp TWB files
*.twbr

.vscode